* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
    background-color: #192841;
    color: #ffffff;
    padding: 50px 0 0 50px; 
}

h1, h2, h3 {
    color: #fe4b03;
    font-family: 'Permanent Marker', cursive;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    padding-right: 20px; 
    font-weight: bold;
    text-transform: uppercase;
}